.dot {
	height: 310px;
	width: 310px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.core-principles .icon{
	max-width: 100%;
	max-height: 160px;
	object-fit: contain;
	display: block;
	margin-bottom: .5em;
	/*margin: auto;*/
}

.core-principles .tile-row {
	display: block;
}

.core-principles .tile {
	border: 10px solid #123c5d;
	padding: 20px;
	margin-top: 1em;
}

@media (min-width: 900px) {
  .core-principles .tile-row {
		display: flex;
	}

	.core-principles .tile {
		align-items: stretch;
		width: 48%;
		margin: 1%;
	}
}


.team-profiles .four .columns {
	text-align: center;
}

.profile {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
