.dot {
	height: 200px;
	width: 200px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

/*#about {
	border-bottom: 1px solid #0D226B;
	padding-bottom: 3px;
}*/

.core-principles .icon{
	max-width: 50%;
}

.core-principles .row:nth-child(2),
.core-principles .row:nth-child(3),
.core-principles .row:nth-child(4),
.core-principles .row:nth-child(5) {
	margin-bottom: 50px;
}

.team-profiles .four .columns {
	text-align: center;
}