.banner-container {
    background: #f2f7ff;
    width: 100%;
}

.banner-text-container {
    /*background: #f2f7ff;*/
    /*color: #0D226B;*/
    color: white;
    text-align: left;
}

.wave-wrapper {
    width: 100%;
    margin-top: -10px;
}

.blue-wave {
    background-color: #f2f7ff;
}

.grey-wave .wave-wrapper {
    /*	background-color: #f5f5f7;
*/
    background-color: #ebebeb;
}

.bottom-wave {
    transform: translateY(-10px);
    margin-top: 10px;
}

.grey-wave svg path {
    fill: #ebebeb;
}

.banner-text-container h1 {
    font-weight: 700;
    margin-top: 10%;
    color: white;
}

.banner-text-container p {
    max-width: 700px;
}

.bg {

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg svg {
    transform: translateY(10px);
}