.block {
	border: 1px solid lightgrey;
	padding: 15px;
	margin-top: 50px;
	color: black;
  	text-decoration: none;
  	cursor: pointer;
}

.block:hover {
  color: #f9de3e;
}

.block p {
	display: none;
}

.block div {
	padding: 0px;
}

.Client {
	height: 20vw;
	width: 100%;
	object-fit: contain;
}
