h2 {
	font-weight: 600;
}

.action-button {
	font-size: 2rem;
	height: 90px;
	background-color: white;
}

.Portfolio {
	object-fit: contain;
}

.block:hover {
  color: #ccac00;
}

.block {
	border: 1px solid lightgrey;
	padding: 0px;
	margin-top: 50px;
	color: black;
  	text-decoration: none;
}

.block div {
	padding: 15px;
    margin-top: -10px;
    background-color: #0D226B;
}

.block p {
    color: white;
}

.title-container {
	margin-bottom: .5em;
}

.title-container p {
	color: #0D226B;
}