.footer-wave-wrapper {
	padding-bottom: 50px;
	width: 100%;
	/*background-color: #f2f7ff;*/
	background-color: #123c5d;
	margin-top: -10px;
}

#date {
	font-family: Arial, Helvetica, sans-serif;
}

footer h2 {
	color: white;
}

footer p {
	margin-bottom: 0px;
	color: white;
}