.title-container {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.title-container p {
	color: #123c5d;
}

h1 {
	font-weight: 700;
}

.container a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
  color: black;
  text-decoration: none;
  transition: background-size .2s;
  cursor: pointer;
}

.container a:hover {
  background-size: 4px 50px;
  color: black;
}