:root {
  --mainColor: #f9de3e;
}

h1,
h2,
h3,
h4,
h5,
h6 
{
	color: #123c5d;
  margin-bottom: 0px;
}

h2 {
	font-weight: 600;
}

p {
  margin-bottom: 0px;
}


.action-link {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
  color: black;
  text-decoration: none;
  transition: background-size .2s;
  cursor: pointer;
}

.action-link:hover {
  background-size: 4px 50px;
  color: black;
}

.block .tags {
  /*color: #646468;
*/  
  font-size: .6em;
  color: white;
}

.block .tile-title {
  font-weight: 700;
}

strong {
  color: #123c5d;
}