.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/CrowInsight_sitebanner5.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 6rem; text-transform: none; margin: 155px auto 0 20px}
.u-section-1 .u-text-2 {margin: 31px 459px 60px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 646px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: auto} }.u-section-2 .u-sheet-1 {min-height: 224px}
.u-section-2 .u-tabs-1 {min-height: 164px; height: auto; margin: 60px auto 0 0}
.u-section-2 .u-tab-link-1 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-2 .u-tab-link-2 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-2 .u-container-layout-1 {padding: 30px 25px}
.u-section-2 .u-btn-1 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: 20px auto 0 0; padding: 0}
.u-section-2 .u-btn-2 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: -22px auto 0 108px; padding: 0}
.u-section-2 .u-btn-3 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: -22px auto 0 221px; padding: 0}
.u-section-2 .u-btn-4 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: -22px auto 0 406px; padding: 0}
.u-section-2 .u-btn-5 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: -22px 442px 0 auto; padding: 0}
.u-section-2 .u-container-layout-2 {padding: 30px 25px}
.u-section-2 .u-btn-6 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: 0 auto 0 0; padding: 0}
.u-section-2 .u-btn-7 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: -22px auto 0 124px; padding: 0}
.u-section-2 .u-btn-8 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: -22px auto 0 204px; padding: 0}
.u-section-2 .u-btn-9 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; margin: -22px auto 0 336px; padding: 0} 

@media (max-width: 1199px){ .u-section-2 .u-tabs-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-btn-1 {height: 22px}
.u-section-2 .u-btn-2 {width: 88px; height: 22px; margin-left: 0}
.u-section-2 .u-btn-3 {width: 88px; height: 22px; margin-left: 21px}
.u-section-2 .u-btn-4 {margin-left: 206px; width: 101px; height: 22px}
.u-section-2 .u-btn-5 {margin-right: 242px}
.u-section-2 .u-btn-7 {margin-left: 0; width: 60px; height: 22px}
.u-section-2 .u-btn-8 {width: 112px; height: 22px; margin-left: 4px}
.u-section-2 .u-btn-9 {margin-left: 136px} }

@media (max-width: 991px){ .u-section-2 .u-btn-3 {margin-left: 0}
.u-section-2 .u-btn-4 {margin-left: 0}
.u-section-2 .u-btn-5 {margin-right: 22px}
.u-section-2 .u-btn-8 {margin-left: 0}
.u-section-2 .u-btn-9 {margin-left: 0} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-btn-5 {margin-right: 0}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }.u-section-3 .u-sheet-1 {min-height: 420px}
.u-section-3 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-3 .u-layout-cell-1 {min-height: 228px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 150px; height: 64px; margin: 48px auto 0}
.u-section-3 .u-layout-cell-2 {min-height: 228px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {width: 150px; height: 149px; margin: 5px auto 0}
.u-section-3 .u-layout-cell-3 {min-height: 228px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {width: 150px; height: 150px; margin: 0 auto}
.u-section-3 .u-layout-cell-4 {min-height: 228px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-image-4 {width: 149px; height: 120px; margin: 0 auto}
.u-section-3 .u-layout-cell-5 {min-height: 228px}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-image-5 {width: 149px; height: 62px; margin: 48px auto 0}
.u-section-3 .u-layout-cell-6 {min-height: 205px}
.u-section-3 .u-container-layout-6 {padding: 30px}
.u-section-3 .u-image-6 {width: 151px; height: 55px; margin: 0 auto}
.u-section-3 .u-layout-cell-7 {min-height: 205px}
.u-section-3 .u-container-layout-7 {padding: 30px}
.u-section-3 .u-image-7 {width: 150px; height: 62px; margin: 0 auto}
.u-section-3 .u-layout-cell-8 {min-height: 205px}
.u-section-3 .u-container-layout-8 {padding: 30px}
.u-section-3 .u-image-8 {width: 150px; height: 40px; margin: 0 auto}
.u-section-3 .u-layout-cell-9 {min-height: 205px}
.u-section-3 .u-container-layout-9 {padding: 30px}
.u-section-3 .u-image-9 {width: 149px; height: 126px; margin: 0 auto}
.u-section-3 .u-layout-cell-10 {min-height: 205px}
.u-section-3 .u-container-layout-10 {padding: 30px}
.u-section-3 .u-image-10 {width: 151px; height: 115px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 184px}
.u-section-3 .u-layout-wrap-1 {position: relative}
.u-section-3 .u-layout-cell-1 {min-height: 188px}
.u-section-3 .u-image-1 {width: 128px; height: 55px}
.u-section-3 .u-layout-cell-2 {min-height: 188px}
.u-section-3 .u-image-2 {width: 128px; height: 127px}
.u-section-3 .u-layout-cell-3 {min-height: 188px}
.u-section-3 .u-image-3 {width: 120px; height: 120px}
.u-section-3 .u-layout-cell-4 {min-height: 188px}
.u-section-3 .u-image-4 {width: 120px; height: 96px}
.u-section-3 .u-layout-cell-5 {min-height: 188px}
.u-section-3 .u-image-5 {width: 80px; height: 33px; margin-top: 62px; margin-bottom: 62px}
.u-section-3 .u-layout-cell-6 {min-height: 169px}
.u-section-3 .u-image-6 {width: 120px; height: 44px}
.u-section-3 .u-layout-cell-7 {min-height: 169px}
.u-section-3 .u-image-7 {width: 120px; height: 50px}
.u-section-3 .u-layout-cell-8 {min-height: 169px}
.u-section-3 .u-image-8 {width: 120px; height: 32px}
.u-section-3 .u-layout-cell-9 {min-height: 169px}
.u-section-3 .u-image-9 {width: 120px; height: 101px}
.u-section-3 .u-layout-cell-10 {min-height: 169px}
.u-section-3 .u-image-10 {width: 120px; height: 91px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 451px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-layout-cell-5 {min-height: 100px}
.u-section-3 .u-layout-cell-6 {min-height: 100px}
.u-section-3 .u-layout-cell-7 {min-height: 100px}
.u-section-3 .u-layout-cell-8 {min-height: 100px}
.u-section-3 .u-layout-cell-9 {min-height: 100px}
.u-section-3 .u-layout-cell-10 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 344px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-10 {padding-left: 10px; padding-right: 10px} }