<!doctype html>

<html lang="en" dir="ltr">
<head>
  {% include google_analytics.html %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico?">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <link rel="stylesheet" href="/css/type.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/dropdown.css">
  <link rel="stylesheet" href="/css/banner.css">
  <link rel="stylesheet" href="/css/default.css">

<!--   <script src="https://d3js.org/d3.v6.min.js"></script>
 -->
  {% seo %}
</head>
<style>
  .bg {
    /* The image used */
    background-image: url( {{ page.image }} );
  }
</style>
<body>

  {% include navbar.html %}

  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="eight columns banner-text-container">
          <h1>{{page.title}}</h1>
          <p>{{page.excerpt}}</p>
        </div>
      </div>
    </div>

    <svg class="orig" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 228.36" xml:space="preserve">
        <path fill="#ffffff" d="M0,68.36l60,21.3c60,21.7,180,63.7,300,69.4c120,5.3,240-26.7,360-64c120-37.7,240-79.7,360-90.7
      s240,11,300,21.3l60,10.7v192h-60c-60,0-180,0-300,0s-240,0-360,0s-240,0-360,0s-240,0-300,0H0V68.36z"></path>
    </svg>

  </div>

  {{content}}

  {% if page.footercolor == "grey" %}
    {% include grey-footer.html %}
  {% else %}
    {% include footer.html %}
  {% endif %}
</body>
</html>
