<!doctype html>

<html lang="en" dir="ltr">
<head>
  {% include google_analytics.html %}
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico?">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <link rel="stylesheet" href="/css/type.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/dropdown.css">
  <link rel="stylesheet" href="/css/banner.css">
  <link rel="stylesheet" href="/css/item.css">

  {% seo %}
</head>

<body>
  
  {% include navbar.html %}

  <div class="container">
    <div class="row title-container">
      <h1>{{page.title}}</h1>
      <p>{{page.subtitle}}</p>
    </div>
    <div class="row">
      <div class="twelve columns">
        <img loading="lazy" src="{{- page.image | relative_url -}}" alt="Image of portfolio item" class="u-full-width">
      </div>
    </div>
    <div>
      <div class="twelve columns">
        {{content}}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>