<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Modern Report Design</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">



  <link rel="stylesheet" href="http://localhost:4000/assets/style.css">

  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="http://localhost:4000/feed.xml">

  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>


       <div class="clearfix border-bottom-thick header-border" style="padding:15px;background-color: white;">

          <ul class="list-reset right py-1 header-text font-smoothing">
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="/about/">Contact</a>
              </li>
          </ul>
            <ul class="list-reset right py-1 header-text font-smoothing">
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="/about/">About</a>
              </li>
          </ul>
             <ul class="list-reset right py-1 header-text font-smoothing">
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="/about/">Working With Us</a>
              </li>
          </ul>
              <ul class="list-reset right py-1 header-text font-smoothing">
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="/about/">Our Work</a>
              </li>
          </ul>

            <img src="../assets/img/logo.png" style="width:130px;" alt="logo" />

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
     <!--Report-->
            <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title" style="margin-top:100px; color:#181818;">Modern Report Design</h1>
     <div class="row" style="margin-top:90px;">
      <div class="column" style="width:75%;"> <img src="../assets/img/Mask Group 19.png" style="width:90%;" alt="Project 1">
      </div>
    <div class="column" style="width:25%;"><p>A clean and polished layout accentuates key messages and makes a report more readable. Crow Insight’s design of U.S. EPA’s National Lakes Assessment (NLA) report focusesattention on the stars of the show: the science and the data. </br> </br> Our other award-winning NLA work does the same: infographics, exploratory dashboards, and methodological explanations. The circular and wave motifs on the cover of the report (below) are reinforced in other National Lakes Assessment documents, as well.
</p>
           </div>
    </div>
    <h2 class="h1 lh-condensed col-9 mt-0" style="margin-top:100px;">
      <div class="section">Similar Work</div>
      <img src="../assets/img/greyline.png" style="display: block; margin-left: auto;
    margin-right: auto; padding-top:15px;" alt="grey line">
  </h2>
      <div class="row" style="margin-top:90px;">
      <div class="column" style="width:33%;"> <img class="displayed" src="../assets/img/Group 157.png" alt="Project 1"><h3>Project Title</h3> <ul>
          <li>Relevant Tag</li>
          <li>Relevant Tag</li>
          <li>Relevant Tag</li>

      </ul>

     </div>
     <div class="column" style="width:33%;"><img class="displayed" src="../assets/img/Group 157.png" alt="Project 1"><h3>Project Title</h3> <ul>
          <li>Relevant Tag</li>
          <li>Relevant Tag</li>
          <li>Relevant Tag</li>

      </ul>

     </div>
     <div class="column" style="width:33%;"><img class="displayed" src="../assets/img/Group 157.png" alt="Project 1"><h3>Project Title</h3> <ul>
          <li>Relevant Tag</li>
          <li>Relevant Tag</li>
          <li>Relevant Tag</li>

      </ul>

     </div>

    </div>
    </div>

</body>
  <footer class="footer">
 <img src="../assets/img/footer.png"
</footer>
</html>
